In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/WIII.csv')

/tmp/ipykernel_18587/916828569.py:1: DtypeWarning: Columns (10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/WIII.csv')

In [4]:
# menampilkan semua kolom
pd.set_option('display.max_columns', None)
# melihat sample data
df.head(5)

,station,valid,lon,lat,elevation,tmpf,dwpf,relh,drct,sknt,p01i,alti,mslp,vsby,gust,skyc1,skyc2,skyc3,skyc4,skyl1,skyl2,skyl3,skyl4,wxcodes,ice_accretion_1hr,ice_accretion_3hr,ice_accretion_6hr,peak_wind_gust,peak_wind_drct,peak_wind_time,feel,metar,snowdepth
0,WIII,2000-01-01 00:00,106.6589,-6.1255,8.0,78.00,76.00,94.21,250.00,5.00,M,29.77,1008.40,4.00,M,M,M,M,M,M,M,M,M,M,M,M,M,M,M,M,80.28,WIII 010000Z AUTO 25005KT 4SM 26/24 A2977 RMK ...,M
1,WIII,2000-01-01 01:00,106.6589,-6.1255,8.0,80.60,78.80,94.27,300.00,4.00,M,29.77,M,6.00,M,M,M,M,M,M,M,M,M,M,M,M,M,M,M,M,89.33,WIII 010100Z AUTO 30004KT 6SM 27/26 A2977 RMK ...,M
2,WIII,2000-01-01 02:00,106.6589,-6.1255,8.0,82.40,78.80,88.90,340.00,6.00,M,29.77,M,7.00,M,M,M,M,M,M,M,M,M,M,M,M,M,M,M,M,92.40,WIII 010200Z AUTO 34006KT 7SM 28/26 A2977 RMK ...,M
3,WIII,2000-01-01 03:00,106.6589,-6.1255,8.0,80.60,77.72,90.97,350.00,4.00,M,29.77,1008.70,6.00,M,M,M,M,M,M,M,M,M,M,M,M,M,M,M,M,87.51,WIII 010300Z AUTO 35004KT 6SM 27/25 A2977 RMK ...,M
4,WIII,2000-01-01 04:00,106.6589,-6.1255,8.0,82.40,78.80,88.90,330.00,9.00,M,29.77,M,7.00,M,M,M,M,M,M,M,M,M,M,M,M,M,M,M,M,92.40,WIII 010400Z AUTO 33009KT 7SM 28/26 A2977 RMK ...,M

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374329 entries, 0 to 374328
Data columns (total 33 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   station            374329 non-null  object
 1   valid              374329 non-null  object
 2   lon                374329 non-null  float64
 3   lat                374329 non-null  float64
 4   elevation          374329 non-null  float64
 5   tmpf               374329 non-null  object
 6   dwpf               374329 non-null  object
 7   relh               374329 non-null  object
 8   drct               374329 non-null  object
 9   sknt               374329 non-null  object
 10  p01i               374329 non-null  object
 11  alti               374329 non-null  object
 12  mslp               374329 non-null  object
 13  vsby               374329 non-null  object
 14  gust               374329 non-null  object
 15  skyc1              374329 non-null  object
 16  skyc2              374329 non-null  object
 17  skyc3              374329 non-null  object
 18  skyc4              374329 non-null  object
 19  skyl1              374329 non-null  object
 20  skyl2              374329 non-null  object
 21  skyl3              374329 non-null  object
 22  skyl4              374329 non-null  object
 23  wxcodes            374326 non-null  object
 24  ice_accretion_1hr  374329 non-null  object
 25  ice_accretion_3hr  374329 non-null  object
 26  ice_accretion_6hr  374329 non-null  object
 27  peak_wind_gust     374329 non-null  object
 28  peak_wind_drct     374329 non-null  object
 29  peak_wind_time     374329 non-null  object
 30  feel               374329 non-null  object
 31  metar              374329 non-null  object
 32  snowdepth          374329 non-null  object
dtypes: float64(3), object(30)
memory usage: 94.2+ MB